<!DOCTYPE html>
<html lang="en">
{%extends 'library_app/base.html'%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book detail | {{book.title}}</title>

</head>

<body>

    {%block content%}
    <div style="margin: 20px; font-size: 18px;" class="row">
        <h1 class="card-title" style="text-align: center;">{{book.title}}</h1>


        <h4>Book image:</h4>

        <div class=" col-lg-7 pt-4 pt-lg-0">
            <img class="float-start imgshadow" src="{{book.image.url}}" alt="Card image cap"
                style="width: 200px; height: 200px; margin-right: 20px;">
            <div style="margin: 10px;">
                <h3>Description:</h3>
                <p style="margin: 10px;">{{book.description}}</p>
            </div>
        </div>


        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Author: &nbsp;{{book.author}}
            </li>

        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Publisher: <a href="{%url 'publisher' book.user.id%}">{{book.user}}</a></li>
        </ul>

        <div class="card-body">
            <p>Genre: &nbsp;{{book.category}}</p>
            <p>Language: &nbsp;{{book.language}}</p>
            <p style="margin: 10px;">This book is read {{book.read_book_count}} times by different users.</p>
        </div>
        {%if request.user.is_authenticated%}
        <form method='post'>
            {%csrf_token%}

            <section>
                <div>
                    <div>
                        <div class="col-md-12 col-lg-10 col-xl-8">
                            <div class="card">
                                <div class="card-footer">
                                    <div class=" d-flex flex-start w-100">
                                        <img class="rounded-circle shadow-1-strong me-3" src="{{user.profile_pic.url}}"
                                            alt="avatar" width="40" height="40" />
                                        <div class="form-outline">
                                            {{form.as_p}}
                                        </div>
                                    </div>
                                    <div class="float-end mt-2 pt-1">
                                        <button type="submit" class="btn btn-primary btn-sm">Post
                                            comment</button>
                                        <button type="reset" class="btn btn-outline-primary btn-sm">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
        {%else%}
        <form>

            <a href="{%url 'login'%}" style="color: black; text-decoration: none;">
                <section>
                    <div>
                        <div>
                            <div class="col-md-12 col-lg-10 col-xl-8">
                                <div class="card">
                                    <div class="card-footer">
                                        <div class=" d-flex flex-start w-100">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                src="{{user.profile_pic.url}}" alt="" width="40" height="40" />
                                            <div class="form-outline">
                                                {{form.as_p}}
                                            </div>
                                        </div>
                                        <div class="float-end mt-2 pt-1">
                                            <button type="submit" class="btn btn-primary btn-sm">Post
                                                comment</button>
                                            <button type="reset" class="btn btn-outline-primary btn-sm">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </a>
        </form>
        {%endif%}
        <div class="row row-cols-1" style="margin: 20px;">
            <h2>Last viewed books:</h2>
            {%for session_book in books_in_session%}
            <div class="col" style="width: 150px; margin: 20px;">
                <a href="{% url 'book' session_book.title%}" class="text-decoration-none" style="color: black;">
                    <h3 class="card-title" style="text-align: center; font-size: 16px;">
                        {{session_book.title}}</h3>
                    <img class="float-end imgshadow" src="{{session_book.image.url}}" alt="Card image cap"
                        style="width: 150px; height: 150px; ">
                </a>
            </div>
            {%endfor%}
        </div>
        <h4 class="mb-0">Recent comments</h4>
        <hr class="my-0" style="height: 1px;" />
        <br>
        <section>
            <div>
                <div>
                    {% for i in comments%}
                    <div class="col-md-12 col-lg-10">
                        <div class="card text-dark">
                            <div class="card-body p-4">
                                <div class="d-flex flex-start">
                                    <img class="rounded-circle shadow-1-strong me-3" src="{{i.user.profile_pic.url}}"
                                        alt="avatar" width="60" height="60" />
                                    <div>

                                        <h6 class="fw-bold mb-1">{{i.user.profile.username}}</h6>

                                        <div class="d-flex align-items-center mb-3">
                                            <p class="mb-0">
                                                {{i.date}}
                                            </p>
                                            <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                            <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                                            <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                                        </div>
                                        <p class="mb-0">
                                            {{i.comment}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" style="height: 1px;" />
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </section>
        {%endblock%}
    </div>
</body>

</html>