<!DOCTYPE html>
<html lang="en">
{%extends 'library_app/base.html'%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book detail | {{book.title}}</title>
</head>

<body>

    {%block content%}
    <div style="margin: 20px; font-size: 18px;" class="row">
        <h1 class="card-title " style="text-align: center;">{{book.title}}</h1>
        <h4>Book image:</h4>

        <div class=" col-lg-7 pt-4 pt-lg-0">
            <img class="float-start imgshadow" src="{{book.image.url}}" alt="Card image cap"
                style="width: 200px; height: 200px; margin-right: 20px;">
            <div style="margin: 10px;">
                <h3>Description:</h3>
                <p style="margin: 10px;">{{book.description}}</p>
            </div>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Author: &nbsp;{{book.author}}
            </li>
        </ul>

        <div class="card-body">
            <p>Genre: &nbsp;{{book.category}}</p>
            <p>Read:&nbsp;{{book.read}}</p>
            <p>Language: &nbsp;{{book.language}}</p>
        </div>
        {%endblock%}
    </div>
</body>

</html>