<!DOCTYPE html>
<html lang="en">
{%extends 'library_app/base.html'%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | {{genre}}</title>
</head>

<body>

    {%block content%}
    <div class="row">
        {% include 'library_app/messages.html' %}
        <h1 style="text-align: center;">Results for {{genre}} genre:</h1>

        <div class="row">
            {% for book in result%}

            <div class="col-sm-2" style="margin: 20px;">
                <a href="{% url 'book' book.title %}" class="text-decoration-none" style="color: black;">
                    <div class="card text-reset" style="width: 18rem;">

                        <h5 class="card-title" style="margin: 5px;">{{book.title}}</h5>
                        <img class="card-img-top" src="{{book.image.url}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Description:
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;{{book.description|slice:255}}...
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Author: {{book.author}}</li>
                            </ul>
                            <p>Genre:{{book.category}}</p>
                            <p>Language: {{book.language}}</p>
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </a>

            </div>

            {%endfor%}
        </div>

        {%endblock%}
</body>

</html>