<!DOCTYPE html>
<html lang="en">
{%extends 'library_app/base.html'%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | Your detail for {{book.title}} </title>
</head>

<body>

    {%block content%}
    {%if book%}
    {%for i in book%}
    <div style="margin: 20px; font-size: 18px;" class="row">
        <h1 class="card-title " style="text-align: center;">{{i.title}}</h1>
        <div class=" col-lg-7 pt-4 pt-lg-0">
            <div style="margin: 10px;">
                <h3>Your description of the book:</h3>
                <p style="margin: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;{{i.describe}}</p>
                <p>Started reading: {{i.started_reading}}</p>
                <p>Finished reading: {{i.finished_reading}}</p>
            </div>
        </div>
    </div>
    {%endfor%}

    {%endif%}
    {%endblock%}
</body>

</html>