<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>

<body>
    {%extends 'library_app/base.html'%}
    {%block content%}
    {%if book%}
    <div style="margin: 20px; font-size: 18px;" class="row">
        <h1 class="card-title " style="text-align: center;">{{book.title}}</h1>
        <div class=" col-lg-7 pt-4 pt-lg-0">
            <div style="margin: 10px;">
                <h3>Your description of the book:</h3>
                <p style="margin: 10px;">{{book.describe}}</p>
            </div>
        </div>
    </div>
    {%endif%}
    {%endblock%}
</body>

</html>