<!DOCTYPE html>
<html lang="en">
{%extends 'library_app/base.html'%}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library | Home</title>
</head>

<body>
    {%block content%}
    <!--Side menu-->
    <div class="container-fluid" style="margin-top: 5px;">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">

                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i>
                                <span class="ms-1 d-none d-sm-inline">Saved</span>
                            </a>
                        </li>

                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i>
                                <span class="ms-1 d-none d-sm-inline">Genre:</span> </a>

                            {%for i in book%}
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100 ms-3">

                                    <form method="get">
                                        {%csrf_token%}

                                        <a href="{% url 'genres' i.category %}" class="nav-link px-0">
                                            <span class="d-none d-sm-inline"></span>{{i.category}}</a>
                                    </form>
                                </li>
                            </ul>
                            {%endfor%}

                        </li>

                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <span class="ms-1 d-none d-sm-inline">Read</span></a>
                        </li>
                </div>
            </div>

            <!--Displays books from data base-->
            <div class="row">
                {% for i in book%}
                <div class="col-sm-4" style="margin-top: 10px;">

                    <a href="{% url 'book' i.id%}" class="text-decoration-none" style="color: black;">
                        <div class="card text-reset" style="width: 18rem;">

                            <h5 class="card-title ">{{i.title}}</h5>

                            <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap">

                            <div class="card-body">
                                <p class="card-text">{{i.description|slice:255}}...</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{i.author}}</li>
                            </ul>

                            <div class="card-body">
                                <p>Genre:{{i.category}}</p>
                                <p>Language: {{i.language}}</p>
                                <form method="get">
                                    <p><a href=" {% url 'add_read_book' i.title %}">I read this book
                                        </a></p>
                                </form>
                            </div>
                        </div>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    {%endblock content%}
</body>

</html>