<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | Books you read</title>
</head>

<body>
    {%extends 'library_app/base.html'%}
    {%block content%}
    <form class="d-flex" method="get" action="{% url 'read_books_list'%}" style="margin: 20px;">
        {%csrf_token%}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search for read books</button>
    </form>

    <div class="row">

        {% for i in list%}

        <div class="col-sm-2" style="margin: 20px;">
            <a href="{% url 'read_books_detail' i.title %}" class="text-decoration-none" style="color: black;">

                <div class="card text-reset" style="width: 18rem;">

                    <h5 class="card-title">{{i.title}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{i.description|slice:255}}...</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{i.author}}</li>
                    </ul>

                    <div class="card-body">
                        <p>Genre:{{i.category}}</p>
                        <p>Language: {{i.language}}</p>


                    </div>
                </div>
            </a>
        </div>
        {%endfor%}
        {% for i in searched_data%}
        <div class="col-sm-2" style="margin: 20px;">
            <a href="{% url 'read_books_detail' i.title %}" class="text-decoration-none" style="color: black;">

                <div class="card text-reset" style="width: 18rem;">

                    <h5 class="card-title">{{i.title}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{i.description|slice:255}}...</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{i.author}}</li>
                    </ul>

                    <div class="card-body">
                        <p>Genre:{{i.category}}</p>
                        <p>Language: {{i.language}}</p>


                    </div>
                </div>
            </a>
        </div>
        {%endfor%}
        {%endblock%}
</body>

</html>