<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | Saved books</title>
</head>

<body>
    {%extends 'library_app/base.html'%}
    {%block content%}


    <h1 style="text-align: center;">Saved books</h1>
    {% include 'library_app/messages.html' %}
    <div class="row">
        {% for i in saved_books%}
        <div class="col-sm-2" style="margin: 20px;">

            <a href="{% url 'book' i.book.title%}" class="text-decoration-none" style="color: black;">
                <div class="card text-reset" style="width: 18rem;">

                    <h5 class="card-title">{{i.book.title}}</h5>

                    <img class="card-img-top" src="{{i.book.image.url}}" alt="Card image cap">

                    <div class="card-body">
                        <p class="card-text">{{i.book.description|slice:255}}...</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{i.book.author}}</li>
                    </ul>

                    <div class="card-body">
                        <p>Genre:{{i.book.category}}</p>
                        <p>Language: {{i.book.language}}</p>

                        <p><a href=" {% url 'add_read_book' i.book.title %}">I have read this book
                            </a></p>
                    </div>
                </div>
            </a>
        </div>
        {%endfor%}
    </div>


    {%endblock%}
</body>

</html>